<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Activate your Mail2share account</title>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>

<body>
  <div class="round", align="center">
	<img src= "http://mail2share.com/images/m2s_logo.png" class="comp_logo" alt="mail to share logo">	
	<hr width=80%>
	<br />
  </div>

<div class="round", align="center">		
  <h1> Activate your account </h1>
  <p>
	Thank you for creating an account. Click the url below to activate your account! <br /><br />
	
	<%= @account_activation_url %> <br /><br />
	
	If the above URL does not work try copying and pasting it into your browser. <br />
	If you continue to have problem, please feel free to contact us. <br /><br /><br />
  </p>
  <p>
	Regards, <br />
	mail2share Team <br />
  </p>
</div>

<div class="round", align="center">
	<br /><br /><br />
	<hr width=50%>
	<p>&copy; 2011 mail2share</p>
</div>

</body>
</html>
