<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Reset password for your Mail2share account</title>
</head>

<body>
  <div>	
	<img src= "http://mail2share.com/images/m2s_logo.png" class="comp_logo" alt="mail to share logo">
	<hr width=100%>
	<br>
  </div>
	
  <h1> Reset your password </h1>
  <p>
	A request to reset your password has been made. <br>  
	If you did not make this request, simply ignore this email. <br> 
	If you did make this request just click the link below: <br><br>
	
	<%= @edit_password_reset_url %> <br><br>
	
	If the above URL does not work try copying and pasting it into your browser. <br>  
	If you continue to have problem please feel free to contact us. <br>
  </p>
  <p>
	Regards, <br>
	mail2share Team <br>
  </p>
<div>
	<br><br><br>
	<hr width=50%>
	<p>&copy; 2011 mail2share</p>
</div>

</body>
</html>
