<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>Welcome to Mail2share</title>
</head>

<body>
  <div>	
	<img src= "http://mail2share.com/images/m2s_logo.png" class="comp_logo" alt="mail to share logo">
	<!--<img src= "<%= image_url('m2s_logo.png') %>" class="comp_logo" alt="mail to share logo"> -->
	<hr width=100%>
	<br>
  </div>
	
  <h1> Welcome to Mail2Share, <%= @user.username %> </h1>
  <p>
	We hope our service comes handy to you! <br>
  </p>
  <p>
	To login to the site, just follow this link: <%= @url %> <br>

	Regards, <br>
	mail2share Team <br>
  </p>
<div>
	<br><br><br>
	<hr width=50%>
	<p>&copy; 2011 mail2share</p>
</div>

</body>
</html>
