#banner a {
	padding-left: 360px;
}

#header a {
	padding: 0px;
	font-size: 0%;
}

#util_links {
	text-align: right;
	font-size: 12px;
	color: #6bb130;
}

body {
  background: #FFFFFF;
}

#main {
	background: url(../images/paper_texture.jpg) repeat top left;
	
	border-width: 25px 0px 25px 0px;
	-moz-border-image:url(../images/airmail_border_symm.png) 25 0 25 0 repeat;
	-webkit-border-image:url(../images/airmail_border_symm.png) 25 0 25 0 repeat;
	border-image:url(../images/airmail_border_symm.png) 25 0 25 0 repeat;
	
	width: 100%;
	min-height: 450px;
	position: absolute;
	left: 0px;    
}

#main p {
	padding: 10px;
	margin: 10px;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	color: #1B2E33;
	font-size: 35px;
	letter-spacing: -1.2pt;
	word-spacing: -0.5pt;
	line-height: 1.4;	
}

#login {
	position: absolute;
	top: 180px;
	right: -18px;
	width: 325px;
	border: 2px solid #FFFFFF;
	border-bottom-left-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	margin-left:auto;
	margin-right: 60px;
	margin-bottom: 60px;
	padding: 15px;
}

#login p {
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}

#tagline {
	position: absolute;
	left: 30px;
	width: 600px;
}

#tagline p {
	color: #FFFFFF;
	text-shadow: 0 0 10px #000; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 2px #000;
	-webkit-text-shadow: 0 0 2px #000;
}

#stamps {
	position: absolute;
	right: 30px;
}

#follow {
	position: absolute;
	top: 75px;
	right: 250px;
}

#follow p {
	color: #222;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding: 0px;
	margin: 0px;	
	text-shadow: 0 0 10px #222; /* horizontal-offset vertical-offset 'blur' colour */
	-moz-text-shadow: 0 0 10px #222;
	-webkit-text-shadow: 0 0 10px #222;
}

.spacer {
	margin-top: 30px;
}

.flash_spacer {
	margin-top: 10px;
	margin-bottom: 20px;
}

#change_passwd, #signup, #forgot_passwd {
	float: center;
	background: #ADDFFF;
	width: 25%;
	border: 2px solid #8BB1C9;
	border-bottom-left-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	margin-left:auto;
	margin-right:auto;
	/*position:relative;*/
	padding: 15px;
}

#message_center {
	border: 2px solid #6bb130;
	position:relative;
	padding: 15px;
	margin: 0px 200px 0px 200px;
}

#message_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	background: #6bb130 url(../images/bg_home_greenfade.png) no-repeat left top;
}

#message_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	background: #6bb130 url(../images/bg_home_greenfade.png) no-repeat right top;
}

footer {
  text-align: center;
  margin-top: 500px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

.comp_logo {
	
}

.misc_logo {
	padding: 5px;
	margin-top: 30px;
}

input {
	width: 200px;
    border: 1px solid #D8D8D8;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	font-size: 20px;
	margin: 0px 10px 5px 0px;
	padding: 4px;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

#searchtab input {
	width: 490px;
	font-size: 22px;
	margin: 10px 0px 0px 0px;
}

#searchtab input#button {
	width: auto;  
	padding: 5px 20px;
	margin: 10px 0px 0px 325px;
	background: #222;
	border: 2px solid #FFFFFF;  
	color: #FFFFFF;
}

#searchtab input#button:hover{
	background-color: white;
	color: #222;
}

#delete_emails input {  
    width: auto;  
    padding: 9px 15px;  
    background: #222;  
    border: 2px solid #FFFFFF;  
    font-size: 14px;  
    color: #FFFFFF;  
	-webkit-border-radius: 5px;  
	-moz-border-radius: 5px;
}

#delete_emails input:hover{
	background-color: white;
	color: #222;
}

#searchtab {
	float: center;
	margin: 10px, 0px, 0px, 150px;
}

.actions input {
	width: auto;  
	padding: 5px 20px;
	background: #222;
	border: 2px solid #FFFFFF;  
	color: #FFFFFF;
}

.actions input:hover {
	background-color: white;
	color: #222;
}

input.focus {
	border: 2px solid #8CD6F9;
	border-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	padding: 3px;
}

.form label {  
    margin-left: 10px;  
    color: #999999;  
}  
  
.submit input {  
    width: auto;  
    padding: 9px 15px;  
    background: #222;  
    border: 2px solid #FFFFFF;  
    font-size: 14px;  
    color: #FFFFFF;  
	-webkit-border-radius: 5px;  
	-moz-border-radius: 5px;
}

.submit input:hover{
	background-color: white;
	color: #222;
}

div.field input{
	color: #707070;
	align: center;
}

#user_username, #user_password, #user_user_email, #user_fullname, #forgot_passwd {
	width: 250px;
}

table.table1 {
	width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}

.table1 thead th {
    padding:5px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.table1 tbody td {
	padding: 7px;
}

.table1 tbody tr {
    text-align:left;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

.table1 tbody tr:nth-child(odd)   { background-color: #DEF3CA; }
.table1 tbody tr:nth-child(even)  { background-color: #BBDE9E; }

/* error UI */
.error, .alert, .notice, .success, .info {
	position: fixed;
	width: 97%;
	top: 133px;
	left: 5px;
	z-index: 99;
	padding:0.8em;margin-bottom:1em;border:2px solid #ddd;
	}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}