<h1>Mail2Share - Public Inbox</h1>

<p>
  This is the home page for the
  <a href="http://mail2share.com/">Mail2Share- Inbox Shared.</a>
</p>

 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>




