<h1>Mail2Share -Shared Inbox</h1>

<p>
  This is the home page for the
  <a href="http://mail2share.info/">Mail2Share- Inbox Shared.</a>
</p>
<!-- the signup is the thing definted is routes and we add _path to it.  fd up shit-->
 <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>




