<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li>
      <li><a href="http://mail2share.com">News</a></li>
	  <hr width=30%>
	  <p>&copy; 2011 mail2share</p>
    </ul>
  </nav>
</footer>
